.mainDiv {
  background-color: var(--corBranco);
  display: flex;
  justify-content: center;
}
.mainDiv main {
  width: 100%;
}

.conteudoProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 7.5rem;
}
.perfilHeader {
  position: absolute;
  left: 50%;
  bottom: -6.25rem;
  transform: translateX(-50%);
  display: inline-block;
}

.img-perfil {
  width: 200px;
  height: 200px;
  border: 5px solid var(--corMarrom);
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.circleEditar {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 48px;
  height: 48px;

  background-color: var(--corBege);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0px 4px 10px var(--corSombra);
  color: var(--corMarrom);
}

.iconeUpload {
  width: 24px;
  height: 24px;
}

.nameUser {
  font-size: 3rem;
  font-weight: 600;
  color: var(--corPreto);
  margin: 0;
}

.cargoUser {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--corCinzaEscuro);
  margin: 0;
}

.emailUser {
  font-size: 1rem;
  font-weight: 400;
  color: var(--corCinzaEscuro);
  margin: 0;
}

.IdUser {
  font-size: 1rem;
  font-weight: 400;
  color: var(--corCinzaEscuro);
  margin: 0;
}

#botaoAlterarSenha {
  width: 24.4rem;
  height: 60px;
  background-color: var(--corMarrom);
  margin: 6.25rem;
  border-radius: 6.25rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--corBranco);
  cursor: pointer;
  transition: all 0.3s ease;
}

#botaoAlterarSenha:hover {
  background-color: var(--corPreto);
}
