/* ============================= */
/* SIDEBAR */
/* ============================= */
/* Pode usar esse arquivo pra    */
/* repetir a sideBar nas outras  */
/* páginas.                      */
/* ============================= */

.side-bar {
  padding: 2rem var(--paddingGeral);
  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;
  width: var(--larguraSidebar);
  min-height: 100vh;

  overflow-y: auto;
}
.main-div {
  margin-left: 250px;
}

.side-bar nav {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.titulo-paginas {
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--corPreto);
}

.titulo-sidebar {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--corPreto);
  padding: 1rem 0;
  background-color: var(--corBranco);
}

.side-bar-botao {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: var(--corPreto);

  transition: all 0.3s ease;
}

.side-bar-botao:hover {
  color: var(--corMarrom);
}

.icone-botao-side-bar svg {
  width: 24px;
  height: 24px;
}

/* Botão dropdown da SideBar (vou enlouquecer) */
.drop-check {
  display: none;
}
.botao-side-bar-toggle {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  color: var(--corPreto);

  transition: all 0.3s ease;
}
.botao-side-bar-toggle:hover {
  color: var(--corMarrom);
}

/* Faz a seta ir pra direita */
.seta {
  margin-left: auto;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}
.itens-escondidos {
  list-style: none;
  padding-left: var(--paddingGeral);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.itens-escondidos li {
  padding: 1rem 0;
}
.itens-escondidos li a {
  text-decoration: none;
  color: var(--corPreto);
  transition: all 0.3s ease;
}
.itens-escondidos li a:hover {
  color: var(--corMarrom);
}

.drop-check:checked ~ .itens-escondidos {
  max-height: 200px;
}
/* Aqui faz a seta girar */
.drop-check:checked + .botao-side-bar-toggle .seta {
  transform: rotate(180deg);
}

.sair {
  margin-top: auto;
}
