.main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--corBege);
}
.main-div main {
  padding: 2.5rem 1.5rem;
}

.main-div main h1 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--corPreto);
  margin-bottom: 3rem;
}

.buscar-e-registrar {
  display: flex;
  flex-direction: row;
}

.campo-busca {
  display: flex;
  align-items: center;
  width: 30%;
  background-color: var(--corCinzaClaro);
  border-radius: 100px;
  padding: 0 0.75rem;
  margin-right: auto;
}
.campo-busca input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.botao-registrar {
  background-color: var(--corMarrom);
  color: var(--corBranco);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  margin-left: auto;
  cursor: pointer;

  transition: all 0.3s ease;
}

.botao-registrar:hover {
  background-color: var(--corPreto);
}

.tabela-registro {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.tabela-registro thead tr {
  border-bottom: 0.2rem solid var(--corCinzaClaro);
}
td {
  background-color: var(--corBranco);
  color: var(--corPreto);
}
.tabela-superior {
  background: var(--corMarrom);
  color: var(--corBranco);
  font-weight: 500;
}
.tabela-superior,
td {
  border: none;
  padding: 8px;
  text-align: center;
}
/* POPUP DE REGISTRO DE USUÁRIO */

#popup-registrar::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

#popup-registrar {
  background-color: var(--corBranco);
  border-radius: 30px;
  border: none;
  width: 50%;
  margin: auto;
  padding: 1.5rem;
  position: relative;
}

/* CONFIGURAÇÕES DO BOTÃO DE FECHAR */
.botao-fechar {
  position: absolute;
  top: 1rem;
  right: 1rem;

  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.form-popUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-popUp label {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.75rem;
}
.linha {
  display: flex;
  gap: 1rem;
}

.linha span {
  flex: 1;
}

.linha-telefone {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.linha-telefone span {
  flex: 1;
}

.form-popUp input {
  background-color: var(--corCinzaClaro);
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 1rem;
  width: 100%;
  padding: 0 0.75rem;
  margin-right: auto;
  height: 2rem;
}

.botao-editar {
  background-color: var(--corBege);
  color: var(--corMarrom);
  border: none;
  padding: 0.5rem;
  border-radius: 30px;
  cursor: pointer;

  transition: all 0.3s ease;
}
.botao-editar:hover {
  background-color: var(--corPreto);
  color: var(--corBranco);
}
