.main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--corBege);
  overflow-x: hidden;
}

.main-div main {
  padding: 2.5rem 1.5rem;
}

.main-div main h1 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--corPreto);
  margin-bottom: 3rem;
}

.registrar-e-visualizar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.botao-registrar,
.botao-tabela-geral {
  background-color: var(--corMarrom);
  color: var(--corBranco);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-registrar:hover,
.botao-tabela-geral:hover {
  background-color: var(--corPreto);
}

.main-div main h2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--corPreto);
  margin: 2rem 0 1rem 0;
}

.btn-qtd {
  background-color: transparent;
  border: solid 2px var(--corCinzaEscuro);
  padding: 0.2rem 0.8rem;
  border-radius: 20px;
  cursor: pointer;
  color: var(--corCinzaEscuro);
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.btn-qtd:hover {
  background-color: var(--corPreto);
  color: var(--corBranco);
}

.info-tabela {
  font-size: 1rem;
  color: var(--corCinzaEscuro);
  margin-top: 0.5rem;
}

/* BUSCA */
.campo-busca {
  display: flex;
  align-items: center;
  min-width: 220px;
  background-color: var(--corCinzaClaro);
  border-radius: 100px;
  padding: 0 0.75rem;
}

.campo-busca input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.4rem 0;
  font-size: 0.9rem;
}
.icone-busca {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

.icone-busca svg {
  width: 18px;
  height: 18px;
  stroke: var(--corCinzaEscuro);
  fill: none;
  display: block;
}

/* TABELA */
.topo-tabela {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

.controle-tabela {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--corCinzaEscuro);
}
.tabela-registro {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.tabela-registro td:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabela-registro th:nth-child(3),
.tabela-registro td:nth-child(3) {
  width: 200px; /* coluna do título */
}

.tabela-registro th:nth-child(1),
.tabela-registro td:nth-child(1) {
  width: 50px; /* ID */
}

.tabela-registro th:nth-child(8),
.tabela-registro td:nth-child(8) {
  width: 180px;
}

.tabela-registro thead {
  border-bottom: 0.2rem solid var(--corCinzaClaro);
}

.tabela-superior {
  font-weight: 500;
}

.tabela-registro td,
.tabela-superior {
  background: var(--corBranco);
  color: var(--corCinzaEscuro);
  border: none;
  padding: 8px;
  font-weight: 500;
  text-align: center;
}

/* STATUS */
.pendente td {
  background: var(--corRosa);
  color: var(--corVermelho);
}

.devolvido td {
  background: var(--corVerdeClaro);
  color: var(--corCinzaEscuro);
}

#paginaAtualTexto {
  color: var(--corCinzaEscuro);
}

/* POPUP */
#popup-registrar {
  background-color: var(--corBranco);
  border-radius: 30px;
  border: none;
  width: 50%;
  max-width: 600px;
  padding: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popup-registrar::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

.botao-fechar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.form-popUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-popUp label {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.75rem;
}

.campo-inteiro {
  width: 100%;
}

.linha {
  display: flex;
  gap: 1rem;
}

.linha span {
  flex: 1;
}

.linha-final {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.linha-final span {
  flex: 1;
}

.linha-final button {
  height: 2.2rem;
  white-space: nowrap;
}

.form-popUp input,
.form-popUp select {
  background-color: var(--corCinzaClaro);
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 1rem;
  width: 100%;
  padding: 0 0.75rem;
  height: 2.2rem;
}

.botao-registrar {
  background-color: var(--corMarrom);
  color: var(--corBranco);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botaoregistrar:hover {
  background-color: var(--corPreto);
}

/* BOTÕES DA TABELA */
.botaoEditar {
  background-color: transparent;
  color: var(--corCinzaEscuro);
  border: solid 2px var(--corCinzaEscuro);
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.botaoEditar:hover {
  background-color: var(--corPreto);
  color: var(--corBranco);
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* IMPRESSÃO */
@media print {
  body * {
    visibility: hidden;
    font-size: 0.5rem;
  }
  #tabelaEmprestimos,
  #tabelaEmprestimos * {
    visibility: visible;
  }
  #tabelaEmprestimos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-collapse: collapse;
  }
  #tabelaEmprestimos th,
  #tabelaEmprestimos td {
    border: 1px solid #000;
    padding: 4px;
    color: #000;
  }
  #tabelaEmprestimos th:last-child,
  #tabelaEmprestimos td:last-child {
    display: none;
  }

  #tabelaEmprestimos button {
    display: none;
  }

  #tabelaEmprestimos thead {
    border-bottom: none !important;
  }
}
