/* ============================= */
/* TOPBAR PROFILE */
/* ============================= */
.topBarProfile {
  width: 100%;
  height: 23.25rem;
  background-color: var(--corBege);
  position: relative;
}
