/* ============================= */
/* TOPBAR */
/* ============================= */

.topBar {
  width: 100%;
  height: 4rem;
  padding: 0.5rem var(--paddingGeral);
  background-color: var(--corBranco);
  display: flex;
  flex-direction: row;
}

.campoBusca {
  display: flex;
  align-items: center;
  width: 60%;
  background-color: var(--corCinzaClaro);
  border-radius: 100px;
  padding: 0 0.75rem;
}

.campoBusca input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.iconeBusca {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.iconeBusca svg {
  width: 100%;
  height: 100%;
  stroke: var(--corCinzaEscuro);
  fill: none;
}

.perfilTopBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  width: auto;
  font-size: 0.9rem;
  color: var(--corPreto);
  background-color: transparent;
}
.perfilTopBar a {
  text-decoration: none;
  color: inherit;
}
.perfilTopBar img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}
